$background-color: rgb(0, 3, 20);
$title-color: rgb(255, 255, 255);

@import './Slider/InputRange.scss';

body {
  background: url('../../assets/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
}

a{
  color: #f2c779;
}

ul, li{
  list-style: none;
}

//Effects About section
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,3,20,0.8);

  .overlay-close {
  	width: 40px;
  	height: 40px;
  	position: absolute;
  	right: 20px;
  	top: 20px;
  	overflow: hidden;
  	border: none;
  	text-indent: 200%;
  	color: transparent;
  	outline: none;
  	z-index: 100;
  }

  .about {
    background-size: 50%;
    color: #fff;
  	text-align: center;
  	position: relative;
  	top: 50%;
  	height: 60%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  }

}

.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

//Input range for level selection

.form {
  height: 70px;
  margin: 0 auto;
  padding-top: 30px;
  width: 60%;
}

.center{
  width: 60%;
  margin: 10px auto;
  text-align: center;
}

//Keep it together on larger screens. TODO: make it nicer.
.container{
  background-color: $background-color;
  max-width: 400px;
}

//Entities animation on content change

.entityCard div {
	-webkit-animation: fadeIn .8s forwards;
	animation: fadeIn .8s forwards;
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

//Menu Icons

header svg{
  color: white !important;
}

//View transition animations

.page-transition-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}

.page-transition-leave {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}

//Notifications
.notification{
  margin: 10px auto;
  text-align: center;
  color:#555;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
  padding:10px 10px 10px 36px;
  margin:10px;

  span {
    font-weight:bold;
    text-transform:uppercase;
  }
}

.error_notification {
  @extend .notification;
  background:#ffecec url('../../assets/img/error.svg') no-repeat 10px 50%;
  border:1px solid #f5aca6;
}
.success_notification {
  @extend .notification;
  background:#e9ffd9 url('../../assets/img/success.svg') no-repeat 10px 50%;
  border:1px solid #a6ca8a;
}
.warning_notification {
  @extend .notification;
  background:#fff8c4 url('../../assets/img/warning.svg') no-repeat 10px 50%;
  background-size: 20px;
  border:1px solid #f2c779;
}
.info_notification {
  @extend .notification;
  background:#e3f7fc url('../../assets/img/info.svg') no-repeat 10px 50%;
  border:1px solid #8ed9f6;
}

//Loader
// Variables
$loader-color: #fff;
$bar-color: $loader-color;
$ball-color: $loader-color;

.loader-text{
  color: $loader-color;
  text-transform:uppercase;
}

.loader {

  position: relative;
  width: 75px;
  height: 100px;
  margin: auto;

  &__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: $bar-color;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);

    @for $i from 1 through 5 {
       &:nth-child(#{$i}) {
         left: ($i - 1) * 15px;
         transform: scale(1,$i*.2);
         animation: barUp#{$i} 4s infinite;
        }
    }

  }

  &__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: $ball-color;
    border-radius: 50%;
    animation: ball 4s infinite;
  }
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px)
  }
  17% {
    transform: translate(23px, -24px)
  }
  20% {
    transform: translate(30px, -20px)
  }
  27% {
    transform: translate(38px, -34px)
  }
  30% {
    transform: translate(45px, -30px)
  }
  37% {
    transform: translate(53px, -44px)
  }
  40% {
    transform: translate(60px, -40px)
  }
  50% {
    transform: translate(60px, 0)
  }
  57% {
    transform: translate(53px, -14px)
  }
  60% {
    transform: translate(45px, -10px)
  }
  67% {
    transform: translate(37px, -24px)
  }
  70% {
    transform: translate(30px, -20px)
  }
  77% {
    transform: translate(22px, -34px)
  }
  80% {
    transform: translate(15px, -30px)
  }
  87% {
    transform: translate(7px, -44px)
  }
  90% {
    transform: translate(0, -40px)
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, .2);
  }
  40%{
    transform: scale(1, .2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1,.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, .4);
  }
  40% {
    transform: scale(1, .4);
  }
  50% {
    transform: scale(1, .8);
  }
  90% {
    transform: scale(1, .8);
  }
  100% {
    transform: scale(1, .4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, .6);
  }
  100% {
    transform: scale(1, .6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, .8);
  }
  40% {
    transform: scale(1, .8);
  }
  50% {
    transform: scale(1, .4);
  }
  90% {
    transform: scale(1, .4);
  }
  100% {
    transform: scale(1, .8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, .2);
  }
  90% {
    transform: scale(1, .2);
  }
  100% {
    transform: scale(1, 1);
  }
}
