$background-color: rgb(35, 58, 73);
$title-color: rgb(255, 255, 255);
$subtitle-color: rgba(255, 255, 255, 0.502);
$nav-bg-color: rgba(0, 0, 0, 0.2);

body {
  background-color: $background-color;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.profile{
  min-height: 200px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;

  &:hover{
    background-color:rgba(255, 255, 255, 0.1);
  }

  .avatar_holder{
    display: block;
    width: 100px;
    height: 100px;
    margin: .8em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    border-radius: 30%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    img{
      height: 100%;
    }

  }

  p.name{
    font-size: 20px;
    font-family: "Lato";
    color: $title-color;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    left: 43.391px;
    top: 439.77px;
    z-index: 68;
  }
  p.type{
    font-size: 20px;
    font-family: "Lato";
    color: $subtitle-color;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    left: 85.937px;
    top: 470.835px;
    z-index: 67;
  }
}

.left{
  float: left;
}

.right{
  float: right;
}

.container{
  padding-top: 35px;
}

.nav {
  position: fixed;
  width: 100%;

  ul {
    list-style: none;
    background-color: $nav-bg-color;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: #fff;
    display: block;
  }

}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);

  .overlay-close {
  	width: 40px;
  	height: 40px;
  	position: absolute;
  	right: 20px;
  	top: 20px;
  	overflow: hidden;
  	border: none;
  	background: url(../assets/img/cross.png) no-repeat center center;
  	text-indent: 200%;
  	color: transparent;
  	outline: none;
  	z-index: 100;
  }

  /* Menu style */
  .about {
    color: #fff;
  	text-align: center;
  	position: relative;
  	top: 50%;
  	height: 60%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  }

}

/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}


.form {
  height: 200px;
  margin: 0 auto;
  padding-top: 100px;
  width: 60%;
}

.InputRange {
  margin-bottom: 10rem;
}
